.circle-highlight {
    background: #cccccc;
    border-radius: 1.0em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 2.0em;
    margin-right: 5px;
    text-align: center;
    width: 2.0em;
    font-size: $font-size--xl;
}

.sachin-image {
    display: block;
	width: 70%;
    margin: auto;
    margin-right:0;
}

.flag-image {
    display: block;
    width: 70%;
    padding: 2.6em 0;
    margin: auto;
    margin-left:0;
}

.vcenter {
    display: flex;
    align-items: center;
}
