.circle-highlight {
    //background: #cccccc;
    border-radius: 1.3em;
    -moz-border-radius: 1.3em;
    -webkit-border-radius: 1.3em;
    color: #000000;
    border: 1px solid black;
    display: inline-block;
    font-weight: bold;
    line-height: 2.6em;
    margin-right: 5px;
    text-align: center;
    width: 2.6em;
    font-size: $font-size--xl;
}

.sachin-image {
	width: 8%;
}

.vcenter {
    display: flex;
    align-items: center;
    align-content: middle;
}

.dropdown {
    display: inline-block;
    width: initial;
}

.side-margins {
    margin: 0 20px;
}
