@import 'vars';
@import 'mytypography';
@import 'home';
@import 'stats';
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
  font-family: Montserrat, sans-serif;
  color: $font-color--dark;
  background-color: $background--light;
  padding: $half-space;
}