<h1 ng-if="home.data.yes>=0" class="heading -large center-align">Do you think Sachin Tendulkar is the greatest cricketer of all time?</h1>
<p class="center-align" ng-hide="home.data.yes>=0">Loading...</p>
<div ng-if="home.data.yes>=0" class="top-space center-align">
    <button ng-click="home.btnClicked(1)" class="btn-home-page btn btn-lg btn-primary">YES</button>
    <button ng-click="home.btnClicked(0)" class="btn-home-page btn btn-lg btn-danger">NO</button>
</div>
<p  class="top-space row">
    <h2 ng-if="home.data.yes>=0" class="heading -large center-align">What is greatness?</h2>
    <div ng-if="home.data.yes>=0" class="quote-wrap">
        <div class="blockquote">{{home.quote}}
            <br>-<i>{{home.author}}</i></div>
    </div>
</p>
