<div class="row vcenter center-align col-xs-12">
    <div class="col-xs-12">
        <img class="sachin-image center-align" src="images/sachin.png"><span>VS&nbsp;&nbsp;&nbsp;</span>
        <select class="form-control dropdown" name="repeatSelect" id="repeatSelect" ng-model="stats.selectedCountry" ng-change="stats.updateChart()">
            <option ng-repeat="country in stats.countries track by country" value="{{country}}">{{country}}</option>
        </select><span>&nbsp;&nbsp;&nbsp;in&nbsp;&nbsp;&nbsp;</span>
        <select class="form-control dropdown" name="repeatSelect2" id="repeatSelect2" ng-model="stats.selectedFormat" ng-change="stats.updateChart()">
            <option value="ODIs">ODIs</option>
            <option value="Tests">Tests</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6">
        <canvas id="bar" class="chart chart-bar" chart-data="stats.data" chart-labels="stats.labels">
        </canvas>
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <canvas id="pie" class="chart chart-pie" chart-legend="true" chart-data="stats.pieData" chart-labels="stats.pieLabels">
                </canvas>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="center-align col-md-12 col-xs-6">
                    <div class="circle-highlight">{{stats.totalAverage | number:0}}</div>
                    <h2 class="heading -medium center-align">TOTAL AVERAGE</h2>
                </div>
                <div class="center-align col-md-12 col-xs-6">
                    <div class="circle-highlight">{{stats.highest}}</div>
                    <h2 class="heading -medium center-align">HIGHEST AT {{ stats.highestGround | uppercase }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6">
        <p class="heading-medium center-align">Sachin's batting average in matches that India won</p>
    </div>
    <div class="col-md-6 col-xs-12">
        <p class="heading-medium ">Number of matches won in which Sachin scored more than 50</p>
    </div>
</div>
<pre>{{ stats.json | json}}</pre>
